@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --font-body: 'Roboto Mono', BlinkMacSystemFont, system-ui;
    --font-mono: monospace;
    --color-bg: #253237;
    --color-1: #5C6B73;
    --color-2: #9DB4C0;
    --color-h: #E0FBFC;
    --color-text: #9DB4C0;
    --color-shadow: rgba(255, 244, 219, 0.5);
    --column-width: 42rem;
    --column-margin-top: 4rem;
    font-family: var(--font-body);
    color: var(--color-text);
}

body {
    background-color: var(--color-bg);
    min-height: 100vh;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: left;
}

p {
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
}

a {
    color: var(--color-theme-1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

pre {
    font-size: 16px;
    font-family: var(--font-mono);
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
    padding: 0.5em;
    overflow-x: auto;
    color: var(--color-text);
}

input,
button {
    font-size: inherit;
    font-family: inherit;
}

button {
    fill: none;
    background-color: rgba(0, 0, 0, 0);
}

label {
    display: block;
}


.highlight {
    color: var(--color-h);
}

.material-icons {
    color: var(--color-2);
}

.icon-btn {
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 0;
}

.icon-btn:hover .material-icons {
    color: var(--color-h);
}