@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --font-body: 'Roboto Mono', BlinkMacSystemFont, system-ui;
    --font-mono: monospace;
    --color-bg: #253237;
    --color-1: #5C6B73;
    --color-2: #9DB4C0;
    --color-h: #E0FBFC;
    --color-h-2:#F067AB;
    --color-h-2-l: #cc85a8;
    --color-text: #9DB4C0;
    --color-shadow: rgba(255, 244, 219, 0.5);
    --column-width: 42rem;
    --column-margin-top: 4rem;
    font-family: var(--font-body);
    color: var(--color-text);
}

body {
    background-color: var(--color-bg);
    min-height: 70vh;
    min-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10%;
    margin-bottom: 8%;
    margin-left: 5%;
    margin-right: 5%;
}

p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

a {
    color: var(--color-2);
    text-decoration: none;
}

a:hover {
    color: var(--color-h-2);
    text-decoration: underline;
    transition: all .2s ease-in-out;
}

h1 {
    font-size: 3rem;
    font-size: 3vw;
    font-weight: 700;
}

h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

/* pre {
    font-size: 16px;
    font-family: var(--font-mono);
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
    padding: 0.5em;
    overflow-x: auto;
    color: var(--color-text);
} */

input,
button {
    font-size: inherit;
    font-family: inherit;
}

button {
    fill: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: inherit;
}

button:hover {
    color: var(--color-h);
    transition: all .2s ease;
    cursor: pointer;
}

label {
    display: block;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }
}

.highlight {
    color: var(--color-h);
}
.highlight-2 {
    color: var(--color-h-2);
}
.welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20vw;
    text-align: left;

}

.welcome-text-box {
    width: auto;
    height: auto;
    position: relative;
}

.welcome-text-box h1, .welcome-text-box p {
    white-space: nowrap; /* Keeps the content on a single line */
}

.welcome-text-box h1::after {
    content: "";
    margin-left: 0.3em;
    width: 0.05em;
    height: 0.8em;
    border-radius: 5px;
    background: var(--color-text);
    display: inline-block;
    animation: cursor-blink 1.5s ease-in-out infinite;
}

@keyframes cursor-blink {
    0% {
            opacity: 0;
        }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* width: 200px;
    height: 200px; */
    text-align: right;
    padding-right: 1rem;
    right: 1.2rem;
    bottom: 10rem;
    color: var(--color-h);
}

.about-me-box {
    margin-right: 35%;
}

.contact-me-btn {
    border: 1.5px solid black;
    border-color: var(--color-text);
    border-radius: 10px;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.contact-me-btn:hover {
    border: 1.5px solid black;
    border-color: var(--color-h);
}