@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #9DB4C0,
  $secondary: #E0FBFC,
  $surface: #9DB4C0,
  $background: #253237,
  $error: color-palette.$red-900
);

html,
body {
  background-color: theme.$background;
  color: theme.$surface;
}
